body {
  padding: 5px;
}

#calculator {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  max-height: 95%;
  border-radius: 10px;
  background-color: orange;
  border: 3px solid grey;
  outline: 1px solid black;
}

#calculator, #screen {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
}

#screen {
  width: 85%;

}


@media screen and (min-width: 768px) {
  body {
    padding: 0;
  }

  #calculator {
    max-width: 500px;
    max-height: 750px;
  }
}